<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @log.email %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @log.uid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @log.status %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @log.last_updated %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
